@font-face {
  font-family: "fontInter";
  src: url("../../fonts/Inter-VariableFont_slnt_wght.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../fonts/PlayfairDisplaySC-Black.ttf") format("truetype");
}
#bloco00 {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  font-family: "PlayfairDisplay";
}

#bloco01 {
  font-family: "fontInter";
}
#bloco01 #img_mobile {
  height: 320px;
}
#bloco01 #img_desktop {
  height: 300px;
}

#bloco02 {
  font-family: "fontInter";
}
#bloco02 h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 20px;
}
#bloco02 p {
  color: hsl(236, 13%, 42%);
}
#bloco02 button {
  padding: 10px;
  margin-top: 20px;
  background-color: hsl(5, 85%, 63%);
  border: none;
  font-weight: bolder;
  width: 150px;
}
#bloco02 button:hover {
  color: white;
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

#bloco03 {
  background-color: hsl(240, 100%, 5%);
  padding: 20px;
  padding-bottom: 1px;
  font-family: "fontInter";
}
#bloco03 h2 {
  color: hsl(35, 77%, 62%);
}
#bloco03 h3 {
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
}
#bloco03 h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
#bloco03 p {
  color: hsl(233, 8%, 79%);
  margin-bottom: 30px;
}

#bloco04 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  font-family: "fontInter";
}
#bloco04 .sub_bloco {
  display: flex;
  max-width: 350px;
}
#bloco04 .sub_bloco img {
  height: 150px;
  margin-top: 30px;
}
#bloco04 .sub_bloco .text_sub_bloco {
  margin-top: 45px;
  margin-left: 20px;
}
#bloco04 .sub_bloco .text_sub_bloco h3 {
  font-size: 2em;
  color: hsl(5, 85%, 63%);
  margin-bottom: 10px;
}
#bloco04 .sub_bloco .text_sub_bloco .p_bolder {
  font-weight: bolder;
  font-size: 1.1em;
  margin-bottom: 5px;
  color: black;
}
#bloco04 .sub_bloco .text_sub_bloco .p_bolder:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
#bloco04 .sub_bloco .text_sub_bloco p {
  font-size: 0.9em;
  line-height: 1.6em;
  color: hsl(236, 13%, 42%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#campo_menu_mobile {
  z-index: 1;
  position: absolute;
  background-color: white;
  display: none;
  justify-content: space-between;
  left: 30%;
  width: 70%;
  height: 1850px;
  padding: 20px;
  font-family: "fontInter";
}
#campo_menu_mobile #campo_texts_menu {
  margin-top: 100px;
}
#campo_menu_mobile #campo_texts_menu p {
  margin-bottom: 20px;
}
#campo_menu_mobile #campo_texts_menu p:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
#campo_menu_mobile #close_menu {
  cursor: pointer;
}

body {
  background-color: white;
}

#conteudo {
  display: grid;
  justify-content: center;
  padding: 20px;
  width: 70%;
  margin: auto;
  row-gap: 40px;
  column-gap: 15px;
}
#conteudo #icon_menu {
  cursor: pointer;
}
#conteudo #barraSuperior_de_menu {
  display: none;
  justify-content: end;
  font-family: "fontInter";
}
#conteudo #barraSuperior_de_menu p {
  margin-left: 20px;
  font-size: 0.8em;
}
#conteudo #barraSuperior_de_menu p:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}
@media screen and (min-width: 1460px) {
  #conteudo #img_mobile {
    display: none;
  }
  #conteudo #img_desktop {
    display: block;
  }
  #conteudo #icon_menu {
    display: none;
  }
  #conteudo #barraSuperior_de_menu {
    display: flex;
  }
  #conteudo #bloco00 {
    grid-column: 1/4;
  }
  #conteudo #bloco01 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #conteudo #bloco02 {
    display: flex;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 3;
  }
  #conteudo #bloco02 h1 {
    max-width: 280px;
  }
  #conteudo #bloco02 p {
    max-width: 360px;
    margin-right: 15px;
  }
  #conteudo #bloco02 button {
    width: 200px;
    height: 50px;
    font-size: 1em;
  }
  #conteudo #bloco03 {
    grid-column: 3;
    grid-row: 2/4;
    height: 98%;
    max-width: 690px;
  }
  #conteudo #bloco03 h2 {
    font-size: 2em;
  }
  #conteudo #bloco03 p {
    font-size: 0.8em;
    line-height: 1.7em;
  }
  #conteudo #bloco04 {
    grid-column: 1/4;
  }
}
@media screen and (max-width: 1460px) {
  #conteudo #img_mobile {
    display: block;
  }
  #conteudo #img_desktop {
    display: none;
  }
  #conteudo #bloco02 {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=index.css.map */
