
@use "../base/config.scss";

#bloco04 
{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 50px;
   font-family: 'fontInter';
    .sub_bloco
    {   
        display: flex;
        max-width: 350px;
        img
        {
            height: 150px;
            margin-top: 30px;
        }

        .text_sub_bloco
        {   margin-top: 45px;
            margin-left: 20px;
            
            h3 
            {   font-size: 2em;
                color: config.$soft_red;
                margin-bottom: 10px;
                
            }

            .p_bolder
            {
                font-weight: bolder;
                font-size: 1.1em;
                margin-bottom: 5px ;
                color: black;
                transition: color 0.5s;
                &:hover
                {
                    color: config.$soft_red;
                    cursor: pointer;
                }
            }

            p {
                font-size: 0.9em;
                line-height: 1.6em;
                color: config.$dark_grayish_blue;
            }
        }
    }
}