
#bloco01
{   
    font-family: 'fontInter';
    #img_mobile 
    {  
        max-width: 800px;
        width: 100%;
        height: 320px;
        
    }
    #img_desktop
    {
        height: 270px;
    }
 
}