
#bloco01
{
    #img_mobile 
    {
        height: 320px;
    }
    #img_desktop
    {
        height: 300px;
    }
 
    h1 
    {   
        font-size: 3em;
        line-height: 1em;
        margin-top: 20px;
    }

    
}