
@use "../base/config.scss";

#bloco02
{
    font-family: 'fontInter';
    h1 
    {   
        font-size: 3em;
        font-weight: 900;
        line-height: 1em;
        margin-bottom: 20px;
    }
    p 
    {
        color: config.$dark_grayish_blue;
    }
    button 
    {
        padding: 10px;
        margin-top: 20px;
        background-color: config.$soft_red;
        border: none;
        font-weight: bolder;
        width: 150px;
        transition: background-color 0.5s, color 3s;

        &:hover
        {
            color: white;
            background-color: config.$very_dark_blue;
            cursor: pointer;
            
           
        }
    }
}