
@use "../base/config.scss";

#bloco03
{
    background-color: config.$very_dark_blue;
    padding: 20px;
    padding-bottom: 1px;
    font-family: 'fontInter';

   h2 
   {
    color: config.$soft_orange;
   
   }

   h3 
   {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    &:hover 
    {
     color: config.$soft_orange;
     cursor: pointer;
    }
   }

   p 
   {
    color: config.$grayish_blue;
    margin-bottom: 30px;
 
   }
}
  
