@use "../base/config.scss";

header 
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p 
    {
        display: inline;
        font-weight: 1000;
        font-size: 1.2em;
        
    }
    #num_notification
    {   
        position: relative;
        bottom:2px;
        background-color: config.$blue;
        color: white;
        border-radius: 5px;
        padding: 1px 10px 1px 10px ;
        margin-left: 2px;
        font-size: 1em;
        font-weight: bolder;
    }
    #text_all_read
    {
        opacity: 0.8;
        &:hover 
        {
            color: config.$blue;
            cursor: pointer;
            font-weight: bolder;
            transition: color 0.6s, bolder 0.6s;
        }

    }
}