@use "../base/config.scss";

main {
    margin-top: 20px;
}

main > * 
{
    background-color: config.$light_grayish_blue1;
    display: flex;
    border-radius: 5px;
    padding: 15px; 
    margin-bottom: 7px;
    cursor: pointer;
   
}