@font-face {
  font-family: "Inconsolata";
  src: url("../../fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inconsolata;
}

@media (max-width: 700px) {
  body {
    background: url("../../imgs/pattern-squiggly-line-top.svg"), url("../../imgs/pattern-lines.svg"), url("../../imgs/pattern-squiggly-line-bottom-mobile-tablet.svg"), url("../../imgs/background-mobile.png");
  }
}
@media (min-width: 700px) {
  body {
    background: url("../../imgs/pattern-squiggly-line-top.svg"), url("../../imgs/pattern-lines.svg"), url("../../imgs/pattern-squiggly-line-bottom-desktop.svg"), url("../../imgs/background-desktop.png");
  }
}
.img_loaded {
  width: 70px;
  height: 60px;
  transform: translateY(5px);
}

.hidden {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top right, center, bottom left, center;
  background-size: 40%, cover, 60%, cover;
}
body #circle_ {
  position: absolute;
  top: -80px;
  left: 50px;
  width: 150px;
}
body main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: url("../../imgs/pattern-circle.svg") no-repeat center right;
  background-size: 150px;
  color: white;
}
body main #logo_full {
  margin: 2em 0 3em;
}
body main #main_title {
  font-size: 2.5em;
  max-width: 600px;
  text-align: center;
  margin-bottom: 20px;
}
body main #subtitle {
  text-align: center;
}
body main form {
  width: 90%;
  max-width: 500px;
}
body main form label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
body main form .padrao_input {
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  background: hsla(246, 15%, 58%, 0.253);
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid hsl(245, 15%, 58%);
  cursor: pointer;
  transition: background-color 0.4s;
}
body main form .padrao_input:hover {
  background: hsla(246, 15%, 58%, 0.5);
}
body main form .cmp_text_error {
  display: flex;
  align-items: center;
  visibility: hidden;
  transform: translateY(-10px);
  margin-bottom: 10px;
}
body main form .cmp_text_error svg {
  stroke: hsl(7, 71%, 60%);
}
body main form .cmp_text_error p {
  color: hsl(7, 71%, 60%);
  margin-left: 5px;
  font-size: 0.8em;
}
body main form #cmp_upload {
  margin: 2em 0 1.5em;
}
body main form #cmp_upload p:nth-child(1) {
  margin-bottom: 10px;
  font-size: 20px;
}
body main form #cmp_upload #change_img_avatar {
  display: none;
}
body main form #cmp_upload #upload_img {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 2px dashed hsl(245, 15%, 58%);
  border-radius: 10px;
  padding: 15px;
  background: hsla(246, 15%, 58%, 0.253);
  cursor: pointer;
  transition: background-color 0.4s;
}
body main form #cmp_upload #upload_img:hover {
  background: hsla(246, 15%, 58%, 0.5);
}
body main form #cmp_upload #upload_img:focus {
  outline: 1px solid hsl(0, 0%, 100%);
}
body main form #cmp_upload #upload_img #border_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(245, 15%, 58%);
  background: hsl(245, 19%, 35%);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
body main form #cmp_upload #upload_img #upload_img_text_info {
  font-size: 20px;
  margin-top: 10px;
}
body main form #cmp_upload #btns_img_loaded > input {
  border-radius: 5px;
  border: none;
  padding: 6px;
  background: hsla(246, 15%, 58%, 0.377);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
body main form #cmp_upload #btns_img_loaded {
  margin-top: 15px;
}
body main form #cmp_upload #btns_img_loaded #btn_remove {
  text-decoration: underline;
}
body main form #cmp_upload #cmp_info {
  display: flex;
}
body main form #cmp_upload #cmp_info p {
  margin-left: 5px;
  font-size: 0.8em;
  color: hsl(252, 6%, 83%);
}
body main form #gerar_ticket {
  background: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  border-radius: 10px;
  border: 1px solid hsl(7, 88%, 67%);
  width: 100%;
  padding: 15px;
  margin-bottom: 5em;
  font-weight: bolder;
  font-size: 1.3em;
  cursor: pointer;
  transition: background-color 0.4s;
}
body main form #gerar_ticket:hover {
  background: hsl(7, 71%, 60%);
}
body #post_main {
  display: none;
  color: white;
}
body #post_main #post_main_logo_full {
  margin: auto;
  display: block;
}
body #post_main section {
  font-size: 3em;
  font-weight: bolder;
  max-width: 700px;
  margin: auto;
  text-align: center;
}
body #post_main section p {
  display: inline-block;
}
body #post_main section .post_main_name_ {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body #post_main #post_main_cmp_email {
  max-width: 370px;
  text-align: center;
  margin: 2em auto;
}
body #post_main #post_main_cmp_email p {
  display: inline-block;
  opacity: 0.7;
}
body #post_main #post_main_cmp_email .post_main_email_ {
  color: hsl(7, 71%, 60%);
  opacity: 1;
  margin-left: 5px;
}
body #post_main #post_main_cmp_ticket {
  background: url("../../imgs/pattern-ticket.svg") no-repeat;
  background-size: 100%;
  max-width: 400px;
  height: 250px;
  padding: 20px;
  margin: 5em auto 0;
}
body #post_main #post_main_cmp_ticket #date {
  font-size: 0.8em;
  width: 65%;
  text-align: right;
  color: hsl(252, 6%, 83%);
}
body #post_main #post_main_cmp_ticket #post_main_cmp_ticket_user {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
body #post_main #post_main_cmp_ticket #post_main_cmp_ticket_user #post_main_cmp_ticket_user_img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
body #post_main #post_main_cmp_ticket #post_main_cmp_ticket_user #post_main_cmp_ticket_user_name {
  margin-left: 10px;
}
body #post_main #post_main_cmp_ticket #post_main_cmp_ticket_user #post_main_cmp_ticket_user_name div {
  display: flex;
}
body #post_main #post_main_cmp_ticket #post_main_cmp_ticket_user #post_main_cmp_ticket_user_name div p {
  margin-left: 5px;
}

/*# sourceMappingURL=index.css.map */
