
#b00 
{   
    padding: 10px 20px 10px 20px;
    h2 
    {
        color:  hsl(202, 55%, 16%);
    
    }
   
    p, label, a
    {
        color: hsl(200, 24%, 40%);
    }

    label 
    {   display: block;
        margin-bottom: 10px;
        margin-top: 20px;
       
    }

    input 
    {
        padding: 11px;
        width: 100%;
        padding-left: 30px;
        border-radius: 5px;
        border: none;
        outline: 1px solid rgb(0, 0, 0);
    }

    .iconCmp
    {
        padding: 10px;
        background-color: hsl(202, 86%, 94%);
        position: relative;
        bottom: 27px;
        border-radius: 5px;
    }

    button 
    {   
        background-color: hsl(61, 70%, 52%);
        color: hsl(202, 55%, 16%);
        display: flex;
        align-items: center;
        border: none;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        img 
        {
            height: 15px;
            margin-right: 10px;
        }
        margin: 10px 0px 10px 0px;
    }

    #cmp_rds
    {
        div 
        {   
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 5px;
            label 
            {
                 display: inline;
             
                 padding-left: 10px ;
            }
     
            input 
            {
             width: auto;
             outline: none;
            
            }
        }
      

  
    }

}