@charset "UTF-8";

/* @font-face {
    font-family: 'Jovem serif';
    src: url(../Fonts/YoungSerif-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url(../Fonts/Outfit-VariableFont_wght.ttf) format('truetype');
} */

@media screen and (max-width: 600px) {
    body {
        background-color: red;
      
    }

    

    main {
        background-color: aqua;
        padding: 0px;
    }
}


@media screen and (min-width: 1440px) {
    #omelete_img 
    {
    display: block;
    }
    #omelete_img00 {
        display: none;
    }
}

#omelete_img00 {
    width: 100%;
    margin-bottom: -5px;
}


#omelete_img {
    display: none;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
   
}

body {
   
    width: calc(100vw - 40px);
    height: 100vh;
    border: 2px solid red;

    font-family: 'outfit';

    
}

main {
    
    background-color: white;
    width: 95,5%;
    padding: 10px;

}

h1, h2 {
    font-family: 'jovem serif';
}

h1 {
    color: hsl(24, 5%, 18%);
}

h2, .num_color {
    color: hsl(14, 45%, 36%);
}

h3 {
    color: hsl(332, 51%, 32%);
}

td {
    border: 1px solid rgba(0, 0, 0, 0.356);
    width: 500px;

}


table {
    border-collapse: collapse;
}
