@use "layout/superior.scss";
@use "layout/inferior.scss";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

main 
{
    
    border: 2px solid black;
    max-width: 300px;
}